<ion-header>
  <ion-navbar>
    <ion-title>Fill up gas tank</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="padding-5" *ngIf="vehicles.length < 1">
    you don't have any vehicle yet, go to vehicles section to create it.
  </div>

  <div class="padding-5" *ngIf="vehicles.length > 0">
    <ion-item>
      <ion-label fixed>Vehicle</ion-label>
      <ion-select [(ngModel)]="vehicle.name">
        <ion-option value="{{v.name}}" *ngFor="let v of vehicles" selected="{{vehicle.name}}">
          {{v.name}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>Amount</ion-label>
      <ion-input [(ngModel)]="amount" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Odometer</ion-label>
      <ion-input [(ngModel)]="odometer" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Units</ion-label>
      <ion-select [(ngModel)]="liquidUnit.name">
        <ion-option *ngFor="let ul of liquidUnits" selected="{{ liquidUnit.name }}">{{ul.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>Price</ion-label>
      <ion-input [(ngModel)]="price" type="number"> {{ price | number : '0.0-10000000'}} </ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label fixed>Notes</ion-label>
      <ion-textarea [(ngModel)]="notes"></ion-textarea>
    </ion-item>
    <div class="padding-5">
      <button ion-button block (click)="saveFillUp()">Save</button>
    </div>
  </div>

</ion-content>